beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
httplib2==0.18.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
oauth2==1.9.0.post1
requests==2.23.0
urllib3==1.24.1
weather-api==1.0.6
Werkzeug==0.14.1
yahoo-weather==1.0.8
